.flags{ background-image: url("all.png"); width: 32px; height: 32px; display: inline-block; }
.flags.flag-AD{ background-position: 0 0; } 
.flags.flag-AE{ background-position: 0 -37px; } 
.flags.flag-AF{ background-position: 0 -74px; } 
.flags.flag-AG{ background-position: 0 -111px; } 
.flags.flag-AI{ background-position: 0 -148px; } 
.flags.flag-AL{ background-position: 0 -185px; } 
.flags.flag-AM{ background-position: 0 -222px; } 
.flags.flag-AN{ background-position: 0 -259px; } 
.flags.flag-AO{ background-position: 0 -296px; } 
.flags.flag-AQ{ background-position: 0 -333px; } 
.flags.flag-AR{ background-position: 0 -370px; } 
.flags.flag-AS{ background-position: 0 -407px; } 
.flags.flag-AT{ background-position: 0 -444px; } 
.flags.flag-AU{ background-position: 0 -481px; } 
.flags.flag-AW{ background-position: 0 -518px; } 
.flags.flag-AX{ background-position: 0 -555px; } 
.flags.flag-AZ{ background-position: 0 -592px; } 
.flags.flag-BA{ background-position: 0 -629px; } 
.flags.flag-BB{ background-position: 0 -666px; } 
.flags.flag-BD{ background-position: 0 -703px; } 
.flags.flag-BE{ background-position: 0 -740px; } 
.flags.flag-BF{ background-position: 0 -777px; } 
.flags.flag-BG{ background-position: 0 -814px; } 
.flags.flag-BH{ background-position: 0 -851px; } 
.flags.flag-BI{ background-position: 0 -888px; } 
.flags.flag-BJ{ background-position: 0 -925px; } 
.flags.flag-BL{ background-position: 0 -962px; } 
.flags.flag-BM{ background-position: 0 -999px; } 
.flags.flag-BN{ background-position: 0 -1036px; } 
.flags.flag-BO{ background-position: 0 -1073px; } 
.flags.flag-BR{ background-position: 0 -1110px; } 
.flags.flag-BS{ background-position: 0 -1147px; } 
.flags.flag-BT{ background-position: 0 -1184px; } 
.flags.flag-BW{ background-position: 0 -1221px; } 
.flags.flag-BY{ background-position: 0 -1258px; } 
.flags.flag-BZ{ background-position: 0 -1295px; } 
.flags.flag-CA{ background-position: 0 -1332px; } 
.flags.flag-CC{ background-position: 0 -1369px; } 
.flags.flag-CD{ background-position: 0 -1406px; } 
.flags.flag-CF{ background-position: 0 -1443px; } 
.flags.flag-CG{ background-position: 0 -1480px; } 
.flags.flag-CH{ background-position: 0 -1517px; } 
.flags.flag-CI{ background-position: 0 -1554px; } 
.flags.flag-CK{ background-position: 0 -1591px; } 
.flags.flag-CL{ background-position: 0 -1628px; } 
.flags.flag-CM{ background-position: 0 -1665px; } 
.flags.flag-CN{ background-position: 0 -1702px; } 
.flags.flag-CO{ background-position: 0 -1739px; } 
.flags.flag-CR{ background-position: 0 -1776px; } 
.flags.flag-CU{ background-position: 0 -1813px; } 
.flags.flag-CV{ background-position: 0 -1850px; } 
.flags.flag-CW{ background-position: 0 -1887px; } 
.flags.flag-CX{ background-position: 0 -1924px; } 
.flags.flag-CY{ background-position: 0 -1961px; } 
.flags.flag-CZ{ background-position: -37px 0; } 
.flags.flag-DE{ background-position: -37px -37px; } 
.flags.flag-DJ{ background-position: -37px -74px; } 
.flags.flag-DK{ background-position: -37px -111px; } 
.flags.flag-DM{ background-position: -37px -148px; } 
.flags.flag-DO{ background-position: -37px -185px; } 
.flags.flag-DZ{ background-position: -37px -222px; } 
.flags.flag-EC{ background-position: -37px -259px; } 
.flags.flag-EE{ background-position: -37px -296px; } 
.flags.flag-EG{ background-position: -37px -333px; } 
.flags.flag-EH{ background-position: -37px -370px; } 
.flags.flag-ER{ background-position: -37px -407px; } 
.flags.flag-ES{ background-position: -37px -444px; } 
.flags.flag-ET{ background-position: -37px -481px; } 
.flags.flag-EU{ background-position: -37px -518px; } 
.flags.flag-FI{ background-position: -37px -555px; } 
.flags.flag-FJ{ background-position: -37px -592px; } 
.flags.flag-FK{ background-position: -37px -629px; } 
.flags.flag-FM{ background-position: -37px -666px; } 
.flags.flag-FO{ background-position: -37px -703px; } 
.flags.flag-FR{ background-position: -37px -740px; } 
.flags.flag-GA{ background-position: -37px -777px; } 
.flags.flag-GB{ background-position: -37px -814px; } 
.flags.flag-GD{ background-position: -37px -851px; } 
.flags.flag-GE{ background-position: -37px -888px; } 
.flags.flag-GG{ background-position: -37px -925px; } 
.flags.flag-GH{ background-position: -37px -962px; } 
.flags.flag-GI{ background-position: -37px -999px; } 
.flags.flag-GL{ background-position: -37px -1036px; } 
.flags.flag-GM{ background-position: -37px -1073px; } 
.flags.flag-GN{ background-position: -37px -1110px; } 
.flags.flag-GQ{ background-position: -37px -1147px; } 
.flags.flag-GR{ background-position: -37px -1184px; } 
.flags.flag-GS{ background-position: -37px -1221px; } 
.flags.flag-GT{ background-position: -37px -1258px; } 
.flags.flag-GU{ background-position: -37px -1295px; } 
.flags.flag-GW{ background-position: -37px -1332px; } 
.flags.flag-GY{ background-position: -37px -1369px; } 
.flags.flag-HK{ background-position: -37px -1406px; } 
.flags.flag-HN{ background-position: -37px -1443px; } 
.flags.flag-HR{ background-position: -37px -1480px; } 
.flags.flag-HT{ background-position: -37px -1517px; } 
.flags.flag-HU{ background-position: -37px -1554px; } 
.flags.flag-IC{ background-position: -37px -1591px; } 
.flags.flag-ID{ background-position: -37px -1628px; } 
.flags.flag-IE{ background-position: -37px -1665px; } 
.flags.flag-IL{ background-position: -37px -1702px; } 
.flags.flag-IM{ background-position: -37px -1739px; } 
.flags.flag-IN{ background-position: -37px -1776px; } 
.flags.flag-IQ{ background-position: -37px -1813px; } 
.flags.flag-IR{ background-position: -37px -1850px; } 
.flags.flag-IS{ background-position: -37px -1887px; } 
.flags.flag-IT{ background-position: -37px -1924px; } 
.flags.flag-JE{ background-position: -37px -1961px; } 
.flags.flag-JM{ background-position: -74px 0; } 
.flags.flag-JO{ background-position: -74px -37px; } 
.flags.flag-JP{ background-position: -74px -74px; } 
.flags.flag-KE{ background-position: -74px -111px; } 
.flags.flag-KG{ background-position: -74px -148px; } 
.flags.flag-KH{ background-position: -74px -185px; } 
.flags.flag-KI{ background-position: -74px -222px; } 
.flags.flag-KM{ background-position: -74px -259px; } 
.flags.flag-KN{ background-position: -74px -296px; } 
.flags.flag-KP{ background-position: -74px -333px; } 
.flags.flag-KR{ background-position: -74px -370px; } 
.flags.flag-KW{ background-position: -74px -407px; } 
.flags.flag-KY{ background-position: -74px -444px; } 
.flags.flag-KZ{ background-position: -74px -481px; } 
.flags.flag-LA{ background-position: -74px -518px; } 
.flags.flag-LB{ background-position: -74px -555px; } 
.flags.flag-LC{ background-position: -74px -592px; } 
.flags.flag-LI{ background-position: -74px -629px; } 
.flags.flag-LK{ background-position: -74px -666px; } 
.flags.flag-LR{ background-position: -74px -703px; } 
.flags.flag-LS{ background-position: -74px -740px; } 
.flags.flag-LT{ background-position: -74px -777px; } 
.flags.flag-LU{ background-position: -74px -814px; } 
.flags.flag-LV{ background-position: -74px -851px; } 
.flags.flag-LY{ background-position: -74px -888px; } 
.flags.flag-MA{ background-position: -74px -925px; } 
.flags.flag-MC{ background-position: -74px -962px; } 
.flags.flag-MD{ background-position: -74px -999px; } 
.flags.flag-ME{ background-position: -74px -1036px; } 
.flags.flag-MF{ background-position: -74px -1073px; } 
.flags.flag-MG{ background-position: -74px -1110px; } 
.flags.flag-MH{ background-position: -74px -1147px; } 
.flags.flag-MK{ background-position: -74px -1184px; } 
.flags.flag-ML{ background-position: -74px -1221px; } 
.flags.flag-MM{ background-position: -74px -1258px; } 
.flags.flag-MN{ background-position: -74px -1295px; } 
.flags.flag-MO{ background-position: -74px -1332px; } 
.flags.flag-MP{ background-position: -74px -1369px; } 
.flags.flag-MQ{ background-position: -74px -1406px; } 
.flags.flag-MR{ background-position: -74px -1443px; } 
.flags.flag-MS{ background-position: -74px -1480px; } 
.flags.flag-MT{ background-position: -74px -1517px; } 
.flags.flag-MU{ background-position: -74px -1554px; } 
.flags.flag-MV{ background-position: -74px -1591px; } 
.flags.flag-MW{ background-position: -74px -1628px; } 
.flags.flag-MX{ background-position: -74px -1665px; } 
.flags.flag-MY{ background-position: -74px -1702px; } 
.flags.flag-MZ{ background-position: -74px -1739px; } 
.flags.flag-NA{ background-position: -74px -1776px; } 
.flags.flag-NC{ background-position: -74px -1813px; } 
.flags.flag-NE{ background-position: -74px -1850px; } 
.flags.flag-NF{ background-position: -74px -1887px; } 
.flags.flag-NG{ background-position: -74px -1924px; } 
.flags.flag-NI{ background-position: -74px -1961px; } 
.flags.flag-NL{ background-position: -111px 0; } 
.flags.flag-NO{ background-position: -111px -37px; } 
.flags.flag-NP{ background-position: -111px -74px; } 
.flags.flag-NR{ background-position: -111px -111px; } 
.flags.flag-NU{ background-position: -111px -148px; } 
.flags.flag-NZ{ background-position: -111px -185px; } 
.flags.flag-OM{ background-position: -111px -222px; } 
.flags.flag-PA{ background-position: -111px -259px; } 
.flags.flag-PE{ background-position: -111px -296px; } 
.flags.flag-PF{ background-position: -111px -333px; } 
.flags.flag-PG{ background-position: -111px -370px; } 
.flags.flag-PH{ background-position: -111px -407px; } 
.flags.flag-PK{ background-position: -111px -444px; } 
.flags.flag-PL{ background-position: -111px -481px; } 
.flags.flag-PN{ background-position: -111px -518px; } 
.flags.flag-PR{ background-position: -111px -555px; } 
.flags.flag-PS{ background-position: -111px -592px; } 
.flags.flag-PT{ background-position: -111px -629px; } 
.flags.flag-PW{ background-position: -111px -666px; } 
.flags.flag-PY{ background-position: -111px -703px; } 
.flags.flag-QA{ background-position: -111px -740px; } 
.flags.flag-RO{ background-position: -111px -777px; } 
.flags.flag-RS{ background-position: -111px -814px; } 
.flags.flag-RU{ background-position: -111px -851px; } 
.flags.flag-RW{ background-position: -111px -888px; } 
.flags.flag-SA{ background-position: -111px -925px; } 
.flags.flag-SB{ background-position: -111px -962px; } 
.flags.flag-SC{ background-position: -111px -999px; } 
.flags.flag-SD{ background-position: -111px -1036px; } 
.flags.flag-SE{ background-position: -111px -1073px; } 
.flags.flag-SG{ background-position: -111px -1110px; } 
.flags.flag-SH{ background-position: -111px -1147px; } 
.flags.flag-SI{ background-position: -111px -1184px; } 
.flags.flag-SK{ background-position: -111px -1221px; } 
.flags.flag-SL{ background-position: -111px -1258px; } 
.flags.flag-SM{ background-position: -111px -1295px; } 
.flags.flag-SN{ background-position: -111px -1332px; } 
.flags.flag-SO{ background-position: -111px -1369px; } 
.flags.flag-SR{ background-position: -111px -1406px; } 
.flags.flag-SS{ background-position: -111px -1443px; } 
.flags.flag-ST{ background-position: -111px -1480px; } 
.flags.flag-SV{ background-position: -111px -1517px; } 
.flags.flag-SY{ background-position: -111px -1554px; } 
.flags.flag-SZ{ background-position: -111px -1591px; } 
.flags.flag-TC{ background-position: -111px -1628px; } 
.flags.flag-TD{ background-position: -111px -1665px; } 
.flags.flag-TF{ background-position: -111px -1702px; } 
.flags.flag-TG{ background-position: -111px -1739px; } 
.flags.flag-TH{ background-position: -111px -1776px; } 
.flags.flag-TJ{ background-position: -111px -1813px; } 
.flags.flag-TK{ background-position: -111px -1850px; } 
.flags.flag-TL{ background-position: -111px -1887px; } 
.flags.flag-TM{ background-position: -111px -1924px; } 
.flags.flag-TN{ background-position: -111px -1961px; } 
.flags.flag-TO{ background-position: -148px 0; } 
.flags.flag-TR{ background-position: -148px -37px; } 
.flags.flag-TT{ background-position: -148px -74px; } 
.flags.flag-TV{ background-position: -148px -111px; } 
.flags.flag-TW{ background-position: -148px -148px; } 
.flags.flag-TZ{ background-position: -148px -185px; } 
.flags.flag-UA{ background-position: -148px -222px; } 
.flags.flag-UG{ background-position: -148px -259px; } 
.flags.flag-US{ background-position: -148px -296px; } 
.flags.flag-UY{ background-position: -148px -333px; } 
.flags.flag-UZ{ background-position: -148px -370px; } 
.flags.flag-VA{ background-position: -148px -407px; } 
.flags.flag-VC{ background-position: -148px -444px; } 
.flags.flag-VE{ background-position: -148px -481px; } 
.flags.flag-VG{ background-position: -148px -518px; } 
.flags.flag-VI{ background-position: -148px -555px; } 
.flags.flag-VN{ background-position: -148px -592px; } 
.flags.flag-VU{ background-position: -148px -629px; } 
.flags.flag-WF{ background-position: -148px -666px; } 
.flags.flag-WS{ background-position: -148px -703px; } 
.flags.flag-YE{ background-position: -148px -740px; } 
.flags.flag-YT{ background-position: -148px -777px; } 
.flags.flag-ZA{ background-position: -148px -814px; } 
.flags.flag-ZM{ background-position: -148px -851px; } 
.flags.flag-ZW{ background-position: -148px -888px; } 
.flags.flag-_abkhazia{ background-position: -148px -925px; } 
.flags.flag-_basque-country{ background-position: -148px -962px; } 
.flags.flag-_british-antarctic-territory{ background-position: -148px -999px; } 
.flags.flag-_commonwealth{ background-position: -148px -1036px; } 
.flags.flag-_england{ background-position: -148px -1073px; } 
.flags.flag-_gosquared{ background-position: -148px -1110px; } 
.flags.flag-_kosovo{ background-position: -148px -1147px; } 
.flags.flag-_mars{ background-position: -148px -1184px; } 
.flags.flag-_nagorno-karabakh{ background-position: -148px -1221px; } 
.flags.flag-_nato{ background-position: -148px -1258px; } 
.flags.flag-_northern-cyprus{ background-position: -148px -1295px; } 
.flags.flag-_olympics{ background-position: -148px -1332px; } 
.flags.flag-_red-cross{ background-position: -148px -1369px; } 
.flags.flag-_scotland{ background-position: -148px -1406px; } 
.flags.flag-_somaliland{ background-position: -148px -1443px; } 
.flags.flag-_south-ossetia{ background-position: -148px -1480px; } 
.flags.flag-_united-nations{ background-position: -148px -1517px; } 
.flags.flag-_unknown{ background-position: -148px -1554px; } 
.flags.flag-_wales{ background-position: -148px -1591px; } 

