.flags{ background-image: url("all.png"); width: 24px; height: 24px; display: inline-block; }
.flags.flag-AD{ background-position: 0 0; } 
.flags.flag-AE{ background-position: 0 -29px; } 
.flags.flag-AF{ background-position: 0 -58px; } 
.flags.flag-AG{ background-position: 0 -87px; } 
.flags.flag-AI{ background-position: 0 -116px; } 
.flags.flag-AL{ background-position: 0 -145px; } 
.flags.flag-AM{ background-position: 0 -174px; } 
.flags.flag-AN{ background-position: 0 -203px; } 
.flags.flag-AO{ background-position: 0 -232px; } 
.flags.flag-AQ{ background-position: 0 -261px; } 
.flags.flag-AR{ background-position: 0 -290px; } 
.flags.flag-AS{ background-position: 0 -319px; } 
.flags.flag-AT{ background-position: 0 -348px; } 
.flags.flag-AU{ background-position: 0 -377px; } 
.flags.flag-AW{ background-position: 0 -406px; } 
.flags.flag-AX{ background-position: 0 -435px; } 
.flags.flag-AZ{ background-position: 0 -464px; } 
.flags.flag-BA{ background-position: 0 -493px; } 
.flags.flag-BB{ background-position: 0 -522px; } 
.flags.flag-BD{ background-position: 0 -551px; } 
.flags.flag-BE{ background-position: 0 -580px; } 
.flags.flag-BF{ background-position: 0 -609px; } 
.flags.flag-BG{ background-position: 0 -638px; } 
.flags.flag-BH{ background-position: 0 -667px; } 
.flags.flag-BI{ background-position: 0 -696px; } 
.flags.flag-BJ{ background-position: 0 -725px; } 
.flags.flag-BL{ background-position: 0 -754px; } 
.flags.flag-BM{ background-position: 0 -783px; } 
.flags.flag-BN{ background-position: 0 -812px; } 
.flags.flag-BO{ background-position: 0 -841px; } 
.flags.flag-BR{ background-position: 0 -870px; } 
.flags.flag-BS{ background-position: 0 -899px; } 
.flags.flag-BT{ background-position: 0 -928px; } 
.flags.flag-BW{ background-position: 0 -957px; } 
.flags.flag-BY{ background-position: 0 -986px; } 
.flags.flag-BZ{ background-position: 0 -1015px; } 
.flags.flag-CA{ background-position: 0 -1044px; } 
.flags.flag-CC{ background-position: 0 -1073px; } 
.flags.flag-CD{ background-position: 0 -1102px; } 
.flags.flag-CF{ background-position: 0 -1131px; } 
.flags.flag-CG{ background-position: 0 -1160px; } 
.flags.flag-CH{ background-position: 0 -1189px; } 
.flags.flag-CI{ background-position: 0 -1218px; } 
.flags.flag-CK{ background-position: 0 -1247px; } 
.flags.flag-CL{ background-position: 0 -1276px; } 
.flags.flag-CM{ background-position: 0 -1305px; } 
.flags.flag-CN{ background-position: 0 -1334px; } 
.flags.flag-CO{ background-position: 0 -1363px; } 
.flags.flag-CR{ background-position: 0 -1392px; } 
.flags.flag-CU{ background-position: 0 -1421px; } 
.flags.flag-CV{ background-position: 0 -1450px; } 
.flags.flag-CW{ background-position: 0 -1479px; } 
.flags.flag-CX{ background-position: 0 -1508px; } 
.flags.flag-CY{ background-position: 0 -1537px; } 
.flags.flag-CZ{ background-position: 0 -1566px; } 
.flags.flag-DE{ background-position: 0 -1595px; } 
.flags.flag-DJ{ background-position: 0 -1624px; } 
.flags.flag-DK{ background-position: 0 -1653px; } 
.flags.flag-DM{ background-position: 0 -1682px; } 
.flags.flag-DO{ background-position: 0 -1711px; } 
.flags.flag-DZ{ background-position: 0 -1740px; } 
.flags.flag-EC{ background-position: 0 -1769px; } 
.flags.flag-EE{ background-position: 0 -1798px; } 
.flags.flag-EG{ background-position: 0 -1827px; } 
.flags.flag-EH{ background-position: 0 -1856px; } 
.flags.flag-ER{ background-position: 0 -1885px; } 
.flags.flag-ES{ background-position: 0 -1914px; } 
.flags.flag-ET{ background-position: 0 -1943px; } 
.flags.flag-EU{ background-position: 0 -1972px; } 
.flags.flag-FI{ background-position: -29px 0; } 
.flags.flag-FJ{ background-position: -29px -29px; } 
.flags.flag-FK{ background-position: -29px -58px; } 
.flags.flag-FM{ background-position: -29px -87px; } 
.flags.flag-FO{ background-position: -29px -116px; } 
.flags.flag-FR{ background-position: -29px -145px; } 
.flags.flag-GA{ background-position: -29px -174px; } 
.flags.flag-GB{ background-position: -29px -203px; } 
.flags.flag-GD{ background-position: -29px -232px; } 
.flags.flag-GE{ background-position: -29px -261px; } 
.flags.flag-GG{ background-position: -29px -290px; } 
.flags.flag-GH{ background-position: -29px -319px; } 
.flags.flag-GI{ background-position: -29px -348px; } 
.flags.flag-GL{ background-position: -29px -377px; } 
.flags.flag-GM{ background-position: -29px -406px; } 
.flags.flag-GN{ background-position: -29px -435px; } 
.flags.flag-GQ{ background-position: -29px -464px; } 
.flags.flag-GR{ background-position: -29px -493px; } 
.flags.flag-GS{ background-position: -29px -522px; } 
.flags.flag-GT{ background-position: -29px -551px; } 
.flags.flag-GU{ background-position: -29px -580px; } 
.flags.flag-GW{ background-position: -29px -609px; } 
.flags.flag-GY{ background-position: -29px -638px; } 
.flags.flag-HK{ background-position: -29px -667px; } 
.flags.flag-HN{ background-position: -29px -696px; } 
.flags.flag-HR{ background-position: -29px -725px; } 
.flags.flag-HT{ background-position: -29px -754px; } 
.flags.flag-HU{ background-position: -29px -783px; } 
.flags.flag-IC{ background-position: -29px -812px; } 
.flags.flag-ID{ background-position: -29px -841px; } 
.flags.flag-IE{ background-position: -29px -870px; } 
.flags.flag-IL{ background-position: -29px -899px; } 
.flags.flag-IM{ background-position: -29px -928px; } 
.flags.flag-IN{ background-position: -29px -957px; } 
.flags.flag-IQ{ background-position: -29px -986px; } 
.flags.flag-IR{ background-position: -29px -1015px; } 
.flags.flag-IS{ background-position: -29px -1044px; } 
.flags.flag-IT{ background-position: -29px -1073px; } 
.flags.flag-JE{ background-position: -29px -1102px; } 
.flags.flag-JM{ background-position: -29px -1131px; } 
.flags.flag-JO{ background-position: -29px -1160px; } 
.flags.flag-JP{ background-position: -29px -1189px; } 
.flags.flag-KE{ background-position: -29px -1218px; } 
.flags.flag-KG{ background-position: -29px -1247px; } 
.flags.flag-KH{ background-position: -29px -1276px; } 
.flags.flag-KI{ background-position: -29px -1305px; } 
.flags.flag-KM{ background-position: -29px -1334px; } 
.flags.flag-KN{ background-position: -29px -1363px; } 
.flags.flag-KP{ background-position: -29px -1392px; } 
.flags.flag-KR{ background-position: -29px -1421px; } 
.flags.flag-KW{ background-position: -29px -1450px; } 
.flags.flag-KY{ background-position: -29px -1479px; } 
.flags.flag-KZ{ background-position: -29px -1508px; } 
.flags.flag-LA{ background-position: -29px -1537px; } 
.flags.flag-LB{ background-position: -29px -1566px; } 
.flags.flag-LC{ background-position: -29px -1595px; } 
.flags.flag-LI{ background-position: -29px -1624px; } 
.flags.flag-LK{ background-position: -29px -1653px; } 
.flags.flag-LR{ background-position: -29px -1682px; } 
.flags.flag-LS{ background-position: -29px -1711px; } 
.flags.flag-LT{ background-position: -29px -1740px; } 
.flags.flag-LU{ background-position: -29px -1769px; } 
.flags.flag-LV{ background-position: -29px -1798px; } 
.flags.flag-LY{ background-position: -29px -1827px; } 
.flags.flag-MA{ background-position: -29px -1856px; } 
.flags.flag-MC{ background-position: -29px -1885px; } 
.flags.flag-MD{ background-position: -29px -1914px; } 
.flags.flag-ME{ background-position: -29px -1943px; } 
.flags.flag-MF{ background-position: -29px -1972px; } 
.flags.flag-MG{ background-position: -58px 0; } 
.flags.flag-MH{ background-position: -58px -29px; } 
.flags.flag-MK{ background-position: -58px -58px; } 
.flags.flag-ML{ background-position: -58px -87px; } 
.flags.flag-MM{ background-position: -58px -116px; } 
.flags.flag-MN{ background-position: -58px -145px; } 
.flags.flag-MO{ background-position: -58px -174px; } 
.flags.flag-MP{ background-position: -58px -203px; } 
.flags.flag-MQ{ background-position: -58px -232px; } 
.flags.flag-MR{ background-position: -58px -261px; } 
.flags.flag-MS{ background-position: -58px -290px; } 
.flags.flag-MT{ background-position: -58px -319px; } 
.flags.flag-MU{ background-position: -58px -348px; } 
.flags.flag-MV{ background-position: -58px -377px; } 
.flags.flag-MW{ background-position: -58px -406px; } 
.flags.flag-MX{ background-position: -58px -435px; } 
.flags.flag-MY{ background-position: -58px -464px; } 
.flags.flag-MZ{ background-position: -58px -493px; } 
.flags.flag-NA{ background-position: -58px -522px; } 
.flags.flag-NC{ background-position: -58px -551px; } 
.flags.flag-NE{ background-position: -58px -580px; } 
.flags.flag-NF{ background-position: -58px -609px; } 
.flags.flag-NG{ background-position: -58px -638px; } 
.flags.flag-NI{ background-position: -58px -667px; } 
.flags.flag-NL{ background-position: -58px -696px; } 
.flags.flag-NO{ background-position: -58px -725px; } 
.flags.flag-NP{ background-position: -58px -754px; } 
.flags.flag-NR{ background-position: -58px -783px; } 
.flags.flag-NU{ background-position: -58px -812px; } 
.flags.flag-NZ{ background-position: -58px -841px; } 
.flags.flag-OM{ background-position: -58px -870px; } 
.flags.flag-PA{ background-position: -58px -899px; } 
.flags.flag-PE{ background-position: -58px -928px; } 
.flags.flag-PF{ background-position: -58px -957px; } 
.flags.flag-PG{ background-position: -58px -986px; } 
.flags.flag-PH{ background-position: -58px -1015px; } 
.flags.flag-PK{ background-position: -58px -1044px; } 
.flags.flag-PL{ background-position: -58px -1073px; } 
.flags.flag-PN{ background-position: -58px -1102px; } 
.flags.flag-PR{ background-position: -58px -1131px; } 
.flags.flag-PS{ background-position: -58px -1160px; } 
.flags.flag-PT{ background-position: -58px -1189px; } 
.flags.flag-PW{ background-position: -58px -1218px; } 
.flags.flag-PY{ background-position: -58px -1247px; } 
.flags.flag-QA{ background-position: -58px -1276px; } 
.flags.flag-RO{ background-position: -58px -1305px; } 
.flags.flag-RS{ background-position: -58px -1334px; } 
.flags.flag-RU{ background-position: -58px -1363px; } 
.flags.flag-RW{ background-position: -58px -1392px; } 
.flags.flag-SA{ background-position: -58px -1421px; } 
.flags.flag-SB{ background-position: -58px -1450px; } 
.flags.flag-SC{ background-position: -58px -1479px; } 
.flags.flag-SD{ background-position: -58px -1508px; } 
.flags.flag-SE{ background-position: -58px -1537px; } 
.flags.flag-SG{ background-position: -58px -1566px; } 
.flags.flag-SH{ background-position: -58px -1595px; } 
.flags.flag-SI{ background-position: -58px -1624px; } 
.flags.flag-SK{ background-position: -58px -1653px; } 
.flags.flag-SL{ background-position: -58px -1682px; } 
.flags.flag-SM{ background-position: -58px -1711px; } 
.flags.flag-SN{ background-position: -58px -1740px; } 
.flags.flag-SO{ background-position: -58px -1769px; } 
.flags.flag-SR{ background-position: -58px -1798px; } 
.flags.flag-SS{ background-position: -58px -1827px; } 
.flags.flag-ST{ background-position: -58px -1856px; } 
.flags.flag-SV{ background-position: -58px -1885px; } 
.flags.flag-SY{ background-position: -58px -1914px; } 
.flags.flag-SZ{ background-position: -58px -1943px; } 
.flags.flag-TC{ background-position: -58px -1972px; } 
.flags.flag-TD{ background-position: -87px 0; } 
.flags.flag-TF{ background-position: -87px -29px; } 
.flags.flag-TG{ background-position: -87px -58px; } 
.flags.flag-TH{ background-position: -87px -87px; } 
.flags.flag-TJ{ background-position: -87px -116px; } 
.flags.flag-TK{ background-position: -87px -145px; } 
.flags.flag-TL{ background-position: -87px -174px; } 
.flags.flag-TM{ background-position: -87px -203px; } 
.flags.flag-TN{ background-position: -87px -232px; } 
.flags.flag-TO{ background-position: -87px -261px; } 
.flags.flag-TR{ background-position: -87px -290px; } 
.flags.flag-TT{ background-position: -87px -319px; } 
.flags.flag-TV{ background-position: -87px -348px; } 
.flags.flag-TW{ background-position: -87px -377px; } 
.flags.flag-TZ{ background-position: -87px -406px; } 
.flags.flag-UA{ background-position: -87px -435px; } 
.flags.flag-UG{ background-position: -87px -464px; } 
.flags.flag-US{ background-position: -87px -493px; } 
.flags.flag-UY{ background-position: -87px -522px; } 
.flags.flag-UZ{ background-position: -87px -551px; } 
.flags.flag-VA{ background-position: -87px -580px; } 
.flags.flag-VC{ background-position: -87px -609px; } 
.flags.flag-VE{ background-position: -87px -638px; } 
.flags.flag-VG{ background-position: -87px -667px; } 
.flags.flag-VI{ background-position: -87px -696px; } 
.flags.flag-VN{ background-position: -87px -725px; } 
.flags.flag-VU{ background-position: -87px -754px; } 
.flags.flag-WF{ background-position: -87px -783px; } 
.flags.flag-WS{ background-position: -87px -812px; } 
.flags.flag-YE{ background-position: -87px -841px; } 
.flags.flag-YT{ background-position: -87px -870px; } 
.flags.flag-ZA{ background-position: -87px -899px; } 
.flags.flag-ZM{ background-position: -87px -928px; } 
.flags.flag-ZW{ background-position: -87px -957px; } 
.flags.flag-_abkhazia{ background-position: -87px -986px; } 
.flags.flag-_basque-country{ background-position: -87px -1015px; } 
.flags.flag-_british-antarctic-territory{ background-position: -87px -1044px; } 
.flags.flag-_commonwealth{ background-position: -87px -1073px; } 
.flags.flag-_england{ background-position: -87px -1102px; } 
.flags.flag-_gosquared{ background-position: -87px -1131px; } 
.flags.flag-_kosovo{ background-position: -87px -1160px; } 
.flags.flag-_mars{ background-position: -87px -1189px; } 
.flags.flag-_nagorno-karabakh{ background-position: -87px -1218px; } 
.flags.flag-_nato{ background-position: -87px -1247px; } 
.flags.flag-_northern-cyprus{ background-position: -87px -1276px; } 
.flags.flag-_olympics{ background-position: -87px -1305px; } 
.flags.flag-_red-cross{ background-position: -87px -1334px; } 
.flags.flag-_scotland{ background-position: -87px -1363px; } 
.flags.flag-_somaliland{ background-position: -87px -1392px; } 
.flags.flag-_south-ossetia{ background-position: -87px -1421px; } 
.flags.flag-_united-nations{ background-position: -87px -1450px; } 
.flags.flag-_unknown{ background-position: -87px -1479px; } 
.flags.flag-_wales{ background-position: -87px -1508px; } 

