.flags{ background-image: url("all.png"); width: 48px; height: 48px; display: inline-block; }
.flags.flag-AD{ background-position: 0 0; } 
.flags.flag-AE{ background-position: 0 -53px; } 
.flags.flag-AF{ background-position: 0 -106px; } 
.flags.flag-AG{ background-position: 0 -159px; } 
.flags.flag-AI{ background-position: 0 -212px; } 
.flags.flag-AL{ background-position: 0 -265px; } 
.flags.flag-AM{ background-position: 0 -318px; } 
.flags.flag-AN{ background-position: 0 -371px; } 
.flags.flag-AO{ background-position: 0 -424px; } 
.flags.flag-AQ{ background-position: 0 -477px; } 
.flags.flag-AR{ background-position: 0 -530px; } 
.flags.flag-AS{ background-position: 0 -583px; } 
.flags.flag-AT{ background-position: 0 -636px; } 
.flags.flag-AU{ background-position: 0 -689px; } 
.flags.flag-AW{ background-position: 0 -742px; } 
.flags.flag-AX{ background-position: 0 -795px; } 
.flags.flag-AZ{ background-position: 0 -848px; } 
.flags.flag-BA{ background-position: 0 -901px; } 
.flags.flag-BB{ background-position: 0 -954px; } 
.flags.flag-BD{ background-position: 0 -1007px; } 
.flags.flag-BE{ background-position: 0 -1060px; } 
.flags.flag-BF{ background-position: 0 -1113px; } 
.flags.flag-BG{ background-position: 0 -1166px; } 
.flags.flag-BH{ background-position: 0 -1219px; } 
.flags.flag-BI{ background-position: 0 -1272px; } 
.flags.flag-BJ{ background-position: 0 -1325px; } 
.flags.flag-BL{ background-position: 0 -1378px; } 
.flags.flag-BM{ background-position: 0 -1431px; } 
.flags.flag-BN{ background-position: 0 -1484px; } 
.flags.flag-BO{ background-position: 0 -1537px; } 
.flags.flag-BR{ background-position: 0 -1590px; } 
.flags.flag-BS{ background-position: 0 -1643px; } 
.flags.flag-BT{ background-position: 0 -1696px; } 
.flags.flag-BW{ background-position: 0 -1749px; } 
.flags.flag-BY{ background-position: 0 -1802px; } 
.flags.flag-BZ{ background-position: 0 -1855px; } 
.flags.flag-CA{ background-position: 0 -1908px; } 
.flags.flag-CC{ background-position: 0 -1961px; } 
.flags.flag-CD{ background-position: -53px 0; } 
.flags.flag-CF{ background-position: -53px -53px; } 
.flags.flag-CG{ background-position: -53px -106px; } 
.flags.flag-CH{ background-position: -53px -159px; } 
.flags.flag-CI{ background-position: -53px -212px; } 
.flags.flag-CK{ background-position: -53px -265px; } 
.flags.flag-CL{ background-position: -53px -318px; } 
.flags.flag-CM{ background-position: -53px -371px; } 
.flags.flag-CN{ background-position: -53px -424px; } 
.flags.flag-CO{ background-position: -53px -477px; } 
.flags.flag-CR{ background-position: -53px -530px; } 
.flags.flag-CU{ background-position: -53px -583px; } 
.flags.flag-CV{ background-position: -53px -636px; } 
.flags.flag-CW{ background-position: -53px -689px; } 
.flags.flag-CX{ background-position: -53px -742px; } 
.flags.flag-CY{ background-position: -53px -795px; } 
.flags.flag-CZ{ background-position: -53px -848px; } 
.flags.flag-DE{ background-position: -53px -901px; } 
.flags.flag-DJ{ background-position: -53px -954px; } 
.flags.flag-DK{ background-position: -53px -1007px; } 
.flags.flag-DM{ background-position: -53px -1060px; } 
.flags.flag-DO{ background-position: -53px -1113px; } 
.flags.flag-DZ{ background-position: -53px -1166px; } 
.flags.flag-EC{ background-position: -53px -1219px; } 
.flags.flag-EE{ background-position: -53px -1272px; } 
.flags.flag-EG{ background-position: -53px -1325px; } 
.flags.flag-EH{ background-position: -53px -1378px; } 
.flags.flag-ER{ background-position: -53px -1431px; } 
.flags.flag-ES{ background-position: -53px -1484px; } 
.flags.flag-ET{ background-position: -53px -1537px; } 
.flags.flag-EU{ background-position: -53px -1590px; } 
.flags.flag-FI{ background-position: -53px -1643px; } 
.flags.flag-FJ{ background-position: -53px -1696px; } 
.flags.flag-FK{ background-position: -53px -1749px; } 
.flags.flag-FM{ background-position: -53px -1802px; } 
.flags.flag-FO{ background-position: -53px -1855px; } 
.flags.flag-FR{ background-position: -53px -1908px; } 
.flags.flag-GA{ background-position: -53px -1961px; } 
.flags.flag-GB{ background-position: -106px 0; } 
.flags.flag-GD{ background-position: -106px -53px; } 
.flags.flag-GE{ background-position: -106px -106px; } 
.flags.flag-GG{ background-position: -106px -159px; } 
.flags.flag-GH{ background-position: -106px -212px; } 
.flags.flag-GI{ background-position: -106px -265px; } 
.flags.flag-GL{ background-position: -106px -318px; } 
.flags.flag-GM{ background-position: -106px -371px; } 
.flags.flag-GN{ background-position: -106px -424px; } 
.flags.flag-GQ{ background-position: -106px -477px; } 
.flags.flag-GR{ background-position: -106px -530px; } 
.flags.flag-GS{ background-position: -106px -583px; } 
.flags.flag-GT{ background-position: -106px -636px; } 
.flags.flag-GU{ background-position: -106px -689px; } 
.flags.flag-GW{ background-position: -106px -742px; } 
.flags.flag-GY{ background-position: -106px -795px; } 
.flags.flag-HK{ background-position: -106px -848px; } 
.flags.flag-HN{ background-position: -106px -901px; } 
.flags.flag-HR{ background-position: -106px -954px; } 
.flags.flag-HT{ background-position: -106px -1007px; } 
.flags.flag-HU{ background-position: -106px -1060px; } 
.flags.flag-IC{ background-position: -106px -1113px; } 
.flags.flag-ID{ background-position: -106px -1166px; } 
.flags.flag-IE{ background-position: -106px -1219px; } 
.flags.flag-IL{ background-position: -106px -1272px; } 
.flags.flag-IM{ background-position: -106px -1325px; } 
.flags.flag-IN{ background-position: -106px -1378px; } 
.flags.flag-IQ{ background-position: -106px -1431px; } 
.flags.flag-IR{ background-position: -106px -1484px; } 
.flags.flag-IS{ background-position: -106px -1537px; } 
.flags.flag-IT{ background-position: -106px -1590px; } 
.flags.flag-JE{ background-position: -106px -1643px; } 
.flags.flag-JM{ background-position: -106px -1696px; } 
.flags.flag-JO{ background-position: -106px -1749px; } 
.flags.flag-JP{ background-position: -106px -1802px; } 
.flags.flag-KE{ background-position: -106px -1855px; } 
.flags.flag-KG{ background-position: -106px -1908px; } 
.flags.flag-KH{ background-position: -106px -1961px; } 
.flags.flag-KI{ background-position: -159px 0; } 
.flags.flag-KM{ background-position: -159px -53px; } 
.flags.flag-KN{ background-position: -159px -106px; } 
.flags.flag-KP{ background-position: -159px -159px; } 
.flags.flag-KR{ background-position: -159px -212px; } 
.flags.flag-KW{ background-position: -159px -265px; } 
.flags.flag-KY{ background-position: -159px -318px; } 
.flags.flag-KZ{ background-position: -159px -371px; } 
.flags.flag-LA{ background-position: -159px -424px; } 
.flags.flag-LB{ background-position: -159px -477px; } 
.flags.flag-LC{ background-position: -159px -530px; } 
.flags.flag-LI{ background-position: -159px -583px; } 
.flags.flag-LK{ background-position: -159px -636px; } 
.flags.flag-LR{ background-position: -159px -689px; } 
.flags.flag-LS{ background-position: -159px -742px; } 
.flags.flag-LT{ background-position: -159px -795px; } 
.flags.flag-LU{ background-position: -159px -848px; } 
.flags.flag-LV{ background-position: -159px -901px; } 
.flags.flag-LY{ background-position: -159px -954px; } 
.flags.flag-MA{ background-position: -159px -1007px; } 
.flags.flag-MC{ background-position: -159px -1060px; } 
.flags.flag-MD{ background-position: -159px -1113px; } 
.flags.flag-ME{ background-position: -159px -1166px; } 
.flags.flag-MF{ background-position: -159px -1219px; } 
.flags.flag-MG{ background-position: -159px -1272px; } 
.flags.flag-MH{ background-position: -159px -1325px; } 
.flags.flag-MK{ background-position: -159px -1378px; } 
.flags.flag-ML{ background-position: -159px -1431px; } 
.flags.flag-MM{ background-position: -159px -1484px; } 
.flags.flag-MN{ background-position: -159px -1537px; } 
.flags.flag-MO{ background-position: -159px -1590px; } 
.flags.flag-MP{ background-position: -159px -1643px; } 
.flags.flag-MQ{ background-position: -159px -1696px; } 
.flags.flag-MR{ background-position: -159px -1749px; } 
.flags.flag-MS{ background-position: -159px -1802px; } 
.flags.flag-MT{ background-position: -159px -1855px; } 
.flags.flag-MU{ background-position: -159px -1908px; } 
.flags.flag-MV{ background-position: -159px -1961px; } 
.flags.flag-MW{ background-position: -212px 0; } 
.flags.flag-MX{ background-position: -212px -53px; } 
.flags.flag-MY{ background-position: -212px -106px; } 
.flags.flag-MZ{ background-position: -212px -159px; } 
.flags.flag-NA{ background-position: -212px -212px; } 
.flags.flag-NC{ background-position: -212px -265px; } 
.flags.flag-NE{ background-position: -212px -318px; } 
.flags.flag-NF{ background-position: -212px -371px; } 
.flags.flag-NG{ background-position: -212px -424px; } 
.flags.flag-NI{ background-position: -212px -477px; } 
.flags.flag-NL{ background-position: -212px -530px; } 
.flags.flag-NO{ background-position: -212px -583px; } 
.flags.flag-NP{ background-position: -212px -636px; } 
.flags.flag-NR{ background-position: -212px -689px; } 
.flags.flag-NU{ background-position: -212px -742px; } 
.flags.flag-NZ{ background-position: -212px -795px; } 
.flags.flag-OM{ background-position: -212px -848px; } 
.flags.flag-PA{ background-position: -212px -901px; } 
.flags.flag-PE{ background-position: -212px -954px; } 
.flags.flag-PF{ background-position: -212px -1007px; } 
.flags.flag-PG{ background-position: -212px -1060px; } 
.flags.flag-PH{ background-position: -212px -1113px; } 
.flags.flag-PK{ background-position: -212px -1166px; } 
.flags.flag-PL{ background-position: -212px -1219px; } 
.flags.flag-PN{ background-position: -212px -1272px; } 
.flags.flag-PR{ background-position: -212px -1325px; } 
.flags.flag-PS{ background-position: -212px -1378px; } 
.flags.flag-PT{ background-position: -212px -1431px; } 
.flags.flag-PW{ background-position: -212px -1484px; } 
.flags.flag-PY{ background-position: -212px -1537px; } 
.flags.flag-QA{ background-position: -212px -1590px; } 
.flags.flag-RO{ background-position: -212px -1643px; } 
.flags.flag-RS{ background-position: -212px -1696px; } 
.flags.flag-RU{ background-position: -212px -1749px; } 
.flags.flag-RW{ background-position: -212px -1802px; } 
.flags.flag-SA{ background-position: -212px -1855px; } 
.flags.flag-SB{ background-position: -212px -1908px; } 
.flags.flag-SC{ background-position: -212px -1961px; } 
.flags.flag-SD{ background-position: -265px 0; } 
.flags.flag-SE{ background-position: -265px -53px; } 
.flags.flag-SG{ background-position: -265px -106px; } 
.flags.flag-SH{ background-position: -265px -159px; } 
.flags.flag-SI{ background-position: -265px -212px; } 
.flags.flag-SK{ background-position: -265px -265px; } 
.flags.flag-SL{ background-position: -265px -318px; } 
.flags.flag-SM{ background-position: -265px -371px; } 
.flags.flag-SN{ background-position: -265px -424px; } 
.flags.flag-SO{ background-position: -265px -477px; } 
.flags.flag-SR{ background-position: -265px -530px; } 
.flags.flag-SS{ background-position: -265px -583px; } 
.flags.flag-ST{ background-position: -265px -636px; } 
.flags.flag-SV{ background-position: -265px -689px; } 
.flags.flag-SY{ background-position: -265px -742px; } 
.flags.flag-SZ{ background-position: -265px -795px; } 
.flags.flag-TC{ background-position: -265px -848px; } 
.flags.flag-TD{ background-position: -265px -901px; } 
.flags.flag-TF{ background-position: -265px -954px; } 
.flags.flag-TG{ background-position: -265px -1007px; } 
.flags.flag-TH{ background-position: -265px -1060px; } 
.flags.flag-TJ{ background-position: -265px -1113px; } 
.flags.flag-TK{ background-position: -265px -1166px; } 
.flags.flag-TL{ background-position: -265px -1219px; } 
.flags.flag-TM{ background-position: -265px -1272px; } 
.flags.flag-TN{ background-position: -265px -1325px; } 
.flags.flag-TO{ background-position: -265px -1378px; } 
.flags.flag-TR{ background-position: -265px -1431px; } 
.flags.flag-TT{ background-position: -265px -1484px; } 
.flags.flag-TV{ background-position: -265px -1537px; } 
.flags.flag-TW{ background-position: -265px -1590px; } 
.flags.flag-TZ{ background-position: -265px -1643px; } 
.flags.flag-UA{ background-position: -265px -1696px; } 
.flags.flag-UG{ background-position: -265px -1749px; } 
.flags.flag-US{ background-position: -265px -1802px; } 
.flags.flag-UY{ background-position: -265px -1855px; } 
.flags.flag-UZ{ background-position: -265px -1908px; } 
.flags.flag-VA{ background-position: -265px -1961px; } 
.flags.flag-VC{ background-position: -318px 0; } 
.flags.flag-VE{ background-position: -318px -53px; } 
.flags.flag-VG{ background-position: -318px -106px; } 
.flags.flag-VI{ background-position: -318px -159px; } 
.flags.flag-VN{ background-position: -318px -212px; } 
.flags.flag-VU{ background-position: -318px -265px; } 
.flags.flag-WF{ background-position: -318px -318px; } 
.flags.flag-WS{ background-position: -318px -371px; } 
.flags.flag-YE{ background-position: -318px -424px; } 
.flags.flag-YT{ background-position: -318px -477px; } 
.flags.flag-ZA{ background-position: -318px -530px; } 
.flags.flag-ZM{ background-position: -318px -583px; } 
.flags.flag-ZW{ background-position: -318px -636px; } 
.flags.flag-_abkhazia{ background-position: -318px -689px; } 
.flags.flag-_basque-country{ background-position: -318px -742px; } 
.flags.flag-_british-antarctic-territory{ background-position: -318px -795px; } 
.flags.flag-_commonwealth{ background-position: -318px -848px; } 
.flags.flag-_england{ background-position: -318px -901px; } 
.flags.flag-_gosquared{ background-position: -318px -954px; } 
.flags.flag-_kosovo{ background-position: -318px -1007px; } 
.flags.flag-_mars{ background-position: -318px -1060px; } 
.flags.flag-_nagorno-karabakh{ background-position: -318px -1113px; } 
.flags.flag-_nato{ background-position: -318px -1166px; } 
.flags.flag-_northern-cyprus{ background-position: -318px -1219px; } 
.flags.flag-_olympics{ background-position: -318px -1272px; } 
.flags.flag-_red-cross{ background-position: -318px -1325px; } 
.flags.flag-_scotland{ background-position: -318px -1378px; } 
.flags.flag-_somaliland{ background-position: -318px -1431px; } 
.flags.flag-_south-ossetia{ background-position: -318px -1484px; } 
.flags.flag-_united-nations{ background-position: -318px -1537px; } 
.flags.flag-_unknown{ background-position: -318px -1590px; } 
.flags.flag-_wales{ background-position: -318px -1643px; } 

